**~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

maps/*.osm
maps/*.osm.pbf
maps/*.txt
maps/**/*.ost
maps/**/*.oss
maps/**/*.dat
maps/**/*.txt
maps/**/*.idx
maps/**/*.idmap
maps/**/*.tmp

**/aclocal.m4
**/INSTALL
**/install-sh
**/autom4te.cache
**/config.guess
**/config.log
**/config.status
**/config.sub
**/configure
**/compile
**/depcomp
**/*.pc
**/*.pc.in
**/ltmain.sh
**/missing
**/libtool
**/m4
**/**/Makefile
**/**/Makefile.in
**/src/.libs
**/**/MapFeatures.h
**/**/Config.h
**/**/Config.h.in
**/**/stamp-h1
**/**/stamp-h2
**/**/ImportFeatures.h

libosmscout-import/libosmscout-import-uninstalled.sh

**/**/*.deps
**/**/*.dirstamp

Demos/*.png
Demos/src/DrawMapCairo
Demos/src/DrawMapOpenGL
Demos/src/DrawMapQt
Demos/src/DumpOSS
Demos/src/LocationDescription
Demos/src/LocationLookup
Demos/src/LookupPOI
Demos/src/PerformanceTest
Demos/src/ResourceConsumption
Demos/src/ResourceConsumptionQt
Demos/src/ReverseLocationLookup
Demos/src/Routing
Demos/src/Srtm
Demos/src/config.h
Demos/src/config.h.in

Import/src/Import
Import/src/config.h
Import/src/config.h.in

libosmscout-import/src/protobuf/fileformat.pb.cc
libosmscout-import/src/protobuf/fileformat.pb.h
libosmscout-import/src/protobuf/osmformat.pb.cc
libosmscout-import/src/protobuf/osmformat.pb.h
libosmscout-map-cairo/include/osmscout/MapCairoFeatures.h
libosmscout-map-cairo/libosmscout-map-cairo-uninstalled.sh
libosmscout-map-opengl/include/osmscout/MapOpenGLFeatures.h
libosmscout-map-opengl/libosmscout-map-opengl-uninstalled.sh
libosmscout-map-qt/include/osmscout/MapQtFeatures.h
libosmscout-map-qt/libosmscout-map-qt-uninstalled.sh
libosmscout-map/libosmscout-map-uninstalled.sh
libosmscout/libosmscout-uninstalled.sh
libosmscout/test-driver

**/m4/libtool.m4
**/m4/lt~obsolete.m4
**/m4/ltoptions.m4
**/m4/ltsugar.m4
**/m4/ltversion.m4

OSMScout2/debug/
